/*----------------
    RESET
------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    GENERAL
------------------*/

.container {
    max-width: 1200px;
    padding: 30px 24px 70px 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F6F5F3;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f6f5f3;
}

.hidden-mobile {
    display: none;
}

/*----------------
    HEADER
------------------*/

header {
    background-color: white;
    color: #ff9614; 
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 14px;
}

h1 {    
    font-family: "Nerko One", cursive;
    font-size: 44px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #333;
}

/*----------------
    MAIN
------------------*/

h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    color: grey;
    padding-bottom: 20px;
}

h3 {
    font-size: 30px;
    color: #4e3969;
    padding-bottom: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-youtube, .col-overview {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
}

.col-overview {
    padding: 44px 38px;
    background-color: white;
}

.col-overview h4 {
    font-size: 24px;
    padding-bottom: 44px;
}

.col-overview ul {
    list-style: none;
    font-size: 22px;
    line-height: 1.8;
    font-weight: 300px;
}

.overview-bold {
    font-weight: bold;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin: 36px 0px;
}

.social-media a {
    padding: 10px 16px;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    color: #1A77F3; 
}

.social-media a span {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.hidden-tablet {
    display: none;
}

.ad {
    padding-bottom: 45px;
}

h5 {
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
}

hr {
    font-weight: bold;
    width: 100px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: orange;
}

.img-tiramisu {
    width: 300px;
    margin: auto;
    display: block;
}

/*----------------
    FOOTER
------------------*/

footer {
    background-color: #7C69A4;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 30px 16px;
    line-height: 1.8;
}



.footer-2 ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 24px;
    padding-top: 4px;
}

.footer-2 a {
    color: white;
}
/*----------------
    RESPONSIVE
------------------*/

/* >=641px */
@media screen and (min-width: 641px) {
    header {
        text-align: left;
    }

    .hidden-mobile {
        display: inline;
    }

    .img-tiramisu {
        float: left;
    }
}

/* >=641px & <=1019px */
@media screen and (min-width: 641px) and (max-width: 1019px) {
    /*.col-overview ul {
        display: flex;
    }*/

    .social-media a {
        padding-right: 60px;
        padding-left: 60px;
    }
}

/* >=1020px */
@media screen and (min-width: 1020px) {
    .col-youtube {
        width: 60%;
    }

    .col-overview {
        width: 40%;
    }

    .hidden-tablet {
        display: inline;
    }

    .social-media a {
        padding-left: 45px;
        padding-right: 45px
    }

    /*.col-img {
        width: 70%;
    }

    .col-description {
        width: 30%;
    }*/
}